* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	background-color: #000000;
	min-height: 100vh;
}

.content {
	max-width: calc(1400px + 32px * 2);
	padding: 0 32px;
	margin: 0 auto;
}

.box-list {
	display: grid;
	grid-template-columns: minmax(50px, 250px) minmax(150px, 1fr) minmax(
			10px,
			500px
		);
	column-gap: 25px;
	row-gap: 25px;
}

.box {
	width: 100%;
	height: 100px;
	background-color: #ffffff;
}
