* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* .header {
	height: 100px;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	background-color: green;
	z-index: 999;
} */

section {
	min-height: 100vh;
	margin-top: 20px;
}

.relative {
	position: relative;
	background-image: url("./image.png");
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
	position: relative;
	z-index: 1;
}

.relative::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.7;
	z-index: 0;
}

.image {
	position: relative;
	background-image: url("./image.png");
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
}

.image::after {
	content: "";
	background-image: url("https://i0.wp.com/scottishgrocers.co.uk/wp-content/uploads/2020/10/Barny-Chocolate-Bears-8s.png?fit=800%2C800&ssl=1");
	background-position: center;
	background-size: contain;
	width: 250px;
	height: 250px;
	position: absolute;
	opacity: 0.5;
}

.image::before {
	content: url("https://i0.wp.com/scottishgrocers.co.uk/wp-content/uploads/2020/10/Barny-Chocolate-Bears-8s.png?fit=800%2C800&ssl=1");
	opacity: 0.5;
}

.absolute1 {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #fff;
}

.absolute2 {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #ff0000;
	top: 0;
	left: 0;
}

.footer {
	height: 350px;
	background-color: yellow;
}

/* Центрирование элемента с помощью position: absolute */
.scroll {
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: blue;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
