* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* .header {
	height: 100px;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	background-color: green;
	z-index: 999;
} */

section {
	min-height: 100vh;
	background-color: #000000;
	margin-top: 20px;
}

section:first-child {
	position: relative;
}

section:nth-child(2) {
	padding-top: 150px;
}

.absolute1 {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #fff;
}

.absolute2 {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #ff0000;
	top: 0;
	left: 0;
}

.footer {
	height: 350px;
	background-color: yellow;
}

/* Центрирование элемента с помощью position: absolute */
.scroll {
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: blue;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
